/* (>‿◠)✌ Basic Reset (>‿◠)✌ */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  display: inline-block;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* (>‿◠)✌ LAYOUT (>‿◠)✌ */

.gc {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  grid-template-rows:8 repeat(3, 1fr) 5%;
  grid-template-areas: 
  "header header header"
  "_left _center-1 _right"
  "_left _center-2 _right"
  "_left _center-3 _right"
  "footer footer footer";
}

.header {grid-area: header;}
._left {grid-area: _left;}
._center-1 {grid-area: _center-1;}
._center-2 {grid-area: _center-2;}
._center-3 {grid-area: _center-3;}
._right {grid-area: _right;}
.footer {grid-area: footer;}

.header,
._left,
._center-1,
._center-2,
._center-3,
._right,
.footer {
  position: relative;
}

/* (>‿◠)✌ HEADER (>‿◠)✌ */

.header {
  background-image: var(--gradient-1);
  border: var(--border-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  & .logo-cont {
    display: flex;
    align-items: center;
    border: var(--border-1);
    border-radius: 3rem;
    padding: 0.3rem 0.5rem;
    background-image: var(--gradient-1-inv);
    outline: var(--border-2);
    outline-offset: 0.3rem;
    & .logo {
      margin-right: 0.5rem;
    }
    & .title {
      background-image: linear-gradient(45deg, var(--color-2), var(--color-6));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  & .description-cont {
    border: var(--border-2);
    border-radius: 2rem;
    padding: 0.3rem 0.5rem;
    outline: var(--border-1);
    background-image: var(--gradient-1-inv);
    & .description {
      background-image: linear-gradient(45deg, var(--color-1), var(--color-6));
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border-radius: 2rem;
      padding: 0.2rem 0.5rem;
      border: var(--border-2);
    }
  }
}

/* (>‿◠)✌ LEFT and RIGTH (>‿◠)✌ */

._left,
._right {
  background-image: var(--gradient-2);
  padding: 0.3rem;
  border: var(--border-2);
  & .menu-cont {
    border: 3px solid var(--grey-1);
    background-image: var(--gradient-1);
    height: 100%;
    & .menu {
      display: flex;
      flex-direction: column;
      height: 100%;
      & .menu__link {
        display: inline-block;
        flex-grow: 1;
        padding: 0.5rem 1rem;
        border: 1px solid var(--grey-2);
        color: var(--grey-5);
        background-color: var(--grey-1);
        transition: background-color 500ms ease-in-out,
        color 250ms ease-in-out;
        font-weight: 600;
        &:hover {
          background-color: var(--color-5);
          border: 1px solid var(--color-5);
          color: black;
        }
      }
    }
  }
}

/* (>‿◠)✌ CENTER (>‿◠)✌ */

._center-1,
._center-2,
._center-3 {
  border: var(--border-3);
  overflow: hidden;
}

.menu-left-cont,
.menu-right-cont {
  position: absolute;
  width: 50%;
  border: var(--border-3);
  background-image: var(--gradient-2);
  padding: 0.5rem;
  height: 100%;
  transition: left 500ms ease-in-out,
  right 500ms ease-in-out;
  & .menu-left,
  & .menu-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    & .menu-left__link,
    & .menu-right__link {
      flex-grow: 1;
      display: inline-block;
      border: var(--border-2);
      background-color: var(--grey-1);
      padding: 0 1rem;
      color: var(--color-4);
      transition: background-color 500ms ease-in-out;
    }
    & .menu-left__link:hover,
    & .menu-right__link:hover {
      background-color: var(--color-1);
      border: 1px solid var(--color-1);
      color: var(--grey-1);
    }
  }
}

.menu-left-cont {
  left: -46%;
  top: 0;
}

.menu-left-cont:hover {
  left: 0;
}

.menu-right-cont {
  right: -46%;
  top: 0;
}

.menu-right-cont:hover {
  right: 0;
}

/* (>‿◠)✌ FOOTER (>‿◠)✌ */

.footer {
  background-image: var(--gradient-2);
  border: var(--border-3);
  padding: 0.5rem 1rem;
  border-radius: 0 0 3rem 3rem;
  & .year-cont {
    background-color: var(--grey-1);
    border-radius: 2rem;
    border: var(--border-2);
    padding: 0.5rem;
    & .year {
      background-color: var(--color-6);
      border-radius: 2rem;
      animation: hue 25s ease-in-out infinite;
      text-align: center;
      font-weight: 600;
    }
  }
}